body {
  text-align: center;
  background: linear-gradient(to right,rgb(255, 235, 52), rgb(7, 111, 196));
  font-family: 'Trebuchet MS';
  color: white;
}

h2 {
  font-size: 24px;
}

a {
  background-color: white;
  font-size: 20px;
  color: slateblue;
  padding: 15px 0 0 0;
  border-radius: 10px;
  margin: 15px;
  display: block;
  text-decoration: none;
  min-width: 200;
  max-width: 500;
  min-height: 40;
  max-height: 60;
}

img {
  width: 15%;
  border-radius: 150px;
  margin-top: 20px;
  animation: bounce 2s infinite;
}